$c-negative: #fff;
$c-darkest:#000;
$c-border:lighten($c-darkest,80);

$c-go: #53bb31;
$c-progress: #f18d13;
$c-warn: #e63a33;

$c-fond: #E5E5E5;
$c-copy: #282828;
$c-main: #007171;
$c-action: #4134cb;